{% extends 'layout.html.twig' %}

{% block title %} {{parent()}} - articles {% endblock %}

{% block content %}
 <div class="row d-flex justify-content-center text-center">   
    {% for article in Articles %}    
        <div class="card m-1" style="width: 18rem;">
            <div class="card-body">
            <div> <a href="{{ path("update_article", {id:article.id} )}}"><i class="fas fa-edit mx-1 text-success"></i></a></div>
            <div> <a href="{{ path("delete_article", {id:article.id} )}}"><i class="fas fa-trash mx-1 text-danger"
            onclick="return confirm('Etes-vous sûr de vouloir supprimer l\'article ?')"></i></a>
            </div>
                <h5 class="card-title">{{ article.titre }}</h5>
    {% if article.dateDeCreation %}
    <h6 class="card-subtitle mb-2 text-muted">crée le: 
                {{ article.dateDeCreation | date("d/m/y \à H\\hi")}}</h6>
    {% endif %}
    {% if article.dateDeModification %}
                <h6 class="card-subtitle mb-2 text-muted">modifié le:
                 {{ article.dateDeModification | date("d/m/y \à H\\hi")}}</h6>
    {% endif %}
                <h6>auteur : </h6>
                <p class="card-text">contenu : 
                {{article.contenu | slice(0, 150)}} ....<a href=""> lire la suite </a></p>
                <a href="{{ path("unArticle", {id:article.id})}}" class="btn btn-primary card-link">lire l'article</a>   
                <a href="{{ path("delete_article", {id:article.id} )}}" class="btn btn-danger card-link">Supprimer l'article</a>   
            </div>
        </div>
        {% endfor %}
 </div>   
 {% endblock %}
