{% extends "layout.html.twig" %}

{% block content %}
<div class="row mt-5 justify-content-center text-center">
    <div>
        <h3>Titre : {{unArticle.titre}} </h3>  <!-- On récupère le titre  -->
        <h6>Publié le  : {{ unArticle.dateDeCreation | date("d/m/y \à H\\hi")}} </h6> <!-- On récupère la date avec le filtre   -->
        {% if unArticle.dateDeModification is not null %}
            <h6>Modifié le  : {{ unArticle.dateDeModification | date("d/m/y \à H\\hi")}}</h6>
        {% endif %}
        {% if unArticle.titre is not null %}
            <h6>Auteur : {{ unArticle.titre }} </h6>
        {% endif %}
        <h6>contenu de l'article : {{unArticle.contenu | slice(0, 150)}} ....<a href=""> lire la suite </a> </h6>
    </div>
</div>
{% endblock %}



